/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add! */
html {
  height: 100%;
}

body {
  width: 800px;
  height: 100%;
}

header {
  background-color: burlywood;
  padding: 5px;
  text-align: center;
  color: cornsilk;
  font-size: 25px;
  display: block;
  border: 5px black solid;
}


nav ul {
  border: 5px black solid;
  padding: 5px;
  width: 100%;
  float: left;
  list-style-type: none;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  height: 25px;
  padding: 12px 18px 8px 0px;
  vertical-align: middle;
  border: : 5px black solid;
}

a {
  color: darkgoldenrod;
  font-size: 25px;
}


  h2 {
    color: darkgoldenrod;
}

section {
  width: 73%;
  display: inline-block;
  float: left;
  margin-bottom: 18px;
}


footer {
  width: 790px;
  clear: both;
  display: block;
  font-size: 20px;
  text-align: center;
  border: 5px black solid;
}
